@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root{
    --txt-clr:hsl(0, 0%, 63%);
    --hd-clr:hsl(0, 0%, 27%);
}
/* *GENERAL */
body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 0.75rem;
}
.wrap{
    display: flex;
    flex-direction: column;
}
p{
    color: var(--txt-clr);
    line-height: 2;
    overflow: scroll;
    max-height: 220px;
    min-width: 172px;
}
picture{
    height: 534px;
}
/* *HEADER */
header{
    position: absolute;
    z-index: 1;
    padding: 1rem 2rem;
}
header .menu{
    display: none;
}
ul{
    display: inline;
    color: #fff; 
}
.open{
    display: none;
}
/* *MAIN */
main .txt{
    padding: 3rem 4rem;
    max-height:400px ;
}
@media (min-width : 769px){
    main .txt{
        overflow: scroll;
    } 
}
main h1{
    font-size: 3rem;
    font-weight: 600;
}
main a{
    color: #000;
    font-size: 1.3rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-decoration: none;
}
.slide1,.slide2,.slide3{
    display: flex;
    transition: all .5s ease-out .2s;/* * transition* */
}
.btns> .controlLeft,.btns> .controlRight{
    background-color: #000;
    border: solid 1px;
    width: 80px;
    height: 80px;
}
@media (min-width: 769px){
    .btns{
        position: relative;
        bottom: 5rem;
        left: 58.3%;
    }
} .controlLeft{
    position: absolute;
}
.controlRight{
    position: absolute;
    left: 4.8rem;
}
/* *SECTION */
.layer{
    display: flex;
}
section{
    padding: 0rem 2rem;
    max-height: 240px;
    overflow: scroll;
}
section h3{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* *mobile */
@media (max-width : 1000px){
    .wrap{
        display: flex;
        flex-direction: column;
    }
    ul{
        display: none;
    }
    /* *Mobile Menu */
    .open{
        background-color: #fff;
        padding: 2rem;
        display: flex;
        transition:  all .2s ease-out; /* * transition* */
    }
    .open button{
        z-index: 1;
        border: solid 0px;
        background-color: transparent;
        justify-self: center;
        align-self: center;
    }
    .open nav ul{
        color: #000;
        display: inline;
        font-weight: 600;
        font-size: 1rem;
    }
    /* *Header */
    header{
        text-align: center;
        left: 33%;
        padding: 2rem 2rem;
    }
    header .menu{
        display: inline;
        position: relative;
        right: 33vw;
    }
    /* *Main */
    .slide1,.slide2,.slide3{
        display: flex;
        flex-direction: column;
    }
    main{
        padding: 0rem 0rem;
    }
    main picture img{
        width: 100%;
        max-height: 480px;
    }
    main h1{
        margin: 0;
    }
    .btns{
        position: relative;
        top: -27rem;
        left: 70vw;
    }
    /* *SECTION */
    .layer{
        display: flex;
        flex-direction: column;
    }
    section{
        padding: 1rem 2rem;
    }
}
/* *Phone */
@media (max-width : 500px){
    .btns{
        position: relative;
        top: -31.3rem;
        left: 50vw;
    }
}
/* *to add class in JS on click*/
.hidden{
    position: absolute;
    top: 0;
    padding: 0;
    opacity: 0;
}
.zero{
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}